.contact-page-wrapper {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .contact-page {
      max-width: 500px;
      width: 100%;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 15px rgba(237, 185, 100, 0.2); 
      background-color: #fff;
  
      h2 {
        color: #333;
        margin-bottom: 5px;
        font-size: 1.5em;
      }

      .contact-details {
        margin: 10px;
        p {
          line-height: 1.6;
          font-size: 1.1em;

  
          strong {
            color: #333;
            font-size: 1.1em;
          }
  
          a {
            color: #edb964; 
            text-decoration: none;
            font-size: 1.1em;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      p {
        color: #555;
        font-size: 1.1em;

      }
    }
    @media (max-width: 768px) {
      .contact-page {
        padding: 15px;
  
      
      }
    }
  
    @media (max-width: 576px) {
      .contact-page {
        padding: 10px;
        height: 300px;
        margin:  0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
  
         h2 {
          font-size: 1.35em;
          margin-top: 10px;
        }
  
        .contact-details {
          margin: 0 5px;
  
          p {
            font-size: 1.05em;
  
            strong {
              font-size: 1.05em;
            }
  
            a {
              font-size: 1.05em;
            }
          }
        }
  
        p {
          font-size: 1.05em;
          margin-bottom: 5px;
        }
      }
    }
  }
  
